{% extends "AppFinal/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>formulario - Editar Profesor</h1>
    
    {% if formulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ formulario.as_table }}

        </table>

        <input type="submit", value="Enviar">

    </form>

  

{% endblock %}



